body {
	margin: 0;
	background: #f5f5f5;
}
a {
	text-decoration: none;
}
#container{
	margin: 100px auto 0;
	width: 276px;
	text-align: center;
	font-family: Verdana;
	color:#272727;
}
#cookie {
	background: url(images/cookie.png) no-repeat;
	width: 276px;
	height: 276px;
	display: block;
}
#cookie:hover {
	background: url(images/cookie-bite.png) no-repeat;
}
#thankyou {
	margin-top:50px;
	display: none;
}