body {
	margin: 0;
	background: #f5f5f5;
}
a {
	text-decoration: none;
}
#cookieContainer {
	width: 276px;
	margin: 100px auto 0;
}
#cookie {
	background: url(images/cookie.png) no-repeat;
	width: 276px;
	height: 276px;
	display: block;
}
#cookie:hover {
	background: url(images/cookie-bite.png) no-repeat;
}